.Hyperlink:link{
  color: rgb(0, 255, 234);
  text-decoration: none;
}

.Hyperlink:visited{
  color: rgb(36, 128, 0);
  text-decoration: none;
 
}

.Hyperlink:active{
  color: rgb(128, 0, 0);
  text-decoration: none;
 
}

body{
  background-image: url(/IMAGES/UNION.jpg);
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}

